<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>playlistDiscovery</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2356323c8f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/playlist_create.css">
  </link>
  <link rel="stylesheet" href="/theme.css">
  </link>
</head>

<body>

  <div id="page" class="page">
    <%- include('header'); -%>
    <div class="container">

      <% if (alert == 'true') { %>
        <div class="row">
      <div class="col-md-12 alert alert-success" role="alert">
        Playlist successfully created 5 reputations earn.
      </div>
    </div>
      <% } %>

      <div class="row">

        <div class="col-md-6">
          
          <h2 class="title1">First search for songs</h2>

          <form class="form-inline" method="POST" action="searchSong">
            <div class="form-group mx-sm-3 mb-2">
              <input name="songs" id="songs" type="text" class="form-control" placeholder="Search for tracks">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
          </form>

          <div class="row songTable">

            <% if (song) { %>
            <table class="table table-dark table-hover table-responsive">
              <thead>
                <tr>
                  <th scope="col">Cover</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Song</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                
                <% song.forEach(function(item){ %>
                  <tr>
                    <th>
                      <img id="img" height="50" width="50" src="<%= item.image %>">
                    </th>
                    <th><%= item.artist %></th>
                    <th id="<%= item.url %>" name="<%= item.url %>"><%= item.name %></th>
                    <th>
                      <button type="button" onclick='addToPlaylist("<%= item.url %>")' class="btn btn-primary add">Add</button>
                    </th>
                  </tr>
                <% }) %>
              </tbody>
            </table>
            <% } %>
          </div>

        </div>

        <div class="col-md-5 right">

          <h2 class="title1">Then create your playlist</h2>

          <form class="form-inline" method="POST" action="addPlaylist">
            <div class="form-group mx-sm-3 mb-2">
              <input name="playlistName" id="playlistName" type="text" class="form-control" placeholder="Playlist name">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create</button>
            <ul id="list" class="list-group">

            </ul>
          </form>

        </div>

      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    window.addEventListener('scroll', function (e) {
      var nav = document.getElementById('nav');
      if (document.documentElement.scrollTop || document.body.scrollTop > window.innerHeight) {
        nav.classList.remove('nav-transparent');
        nav.classList.add('nav-colored');
      } else {
        nav.classList.remove('nav-colored');
        nav.classList.add('nav-transparent');
      }
    });
  </script>
  <script>
    var list = document.getElementById('list');

    function addToPlaylist(elem) {
      var songName = document.getElementById(elem).innerHTML;
      var artistName = document.getElementById(elem).previousElementSibling;

      var entry = document.createElement('li');
      entry.style.backgroundColor = "#434160"
      entry.style.color = "white";
      entry.setAttribute("class", "list-group-item");
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute("type", "hidden");
      hiddenInput.setAttribute("name", elem);
      hiddenInput.setAttribute("value", elem);
      entry.appendChild(document.createTextNode( artistName.innerHTML + " " + songName));
      entry.setAttribute("id", elem);
      list.appendChild(entry)
      list.append(hiddenInput)
    }
  </script>
  <script>
    if (document.getElementById("img")) {
      var page = document.getElementById("page");
      page.style.height = "100%";
    }
  </script>
</body>

</html>